<div class="form-horizontal col-md-6">
  <div class="form-group">
    <label for="inputOnes" class="col-sm-5 control-label">Ones:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputOnes" placeholder="Ones"
             [value]="scoreService.score.ones" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputTwos" class="col-sm-5 control-label">Twos:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputTwos" placeholder="Twos"
             [value]="scoreService.score.twos" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputThrees" class="col-sm-5 control-label">Threes:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputThrees" placeholder="Threes"
             [value]="scoreService.score.threes" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFours" class="col-sm-5 control-label">Fours:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputFours" placeholder="Fours"
             [value]="scoreService.score.fours" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFives" class="col-sm-5 control-label">Fives:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputFives" placeholder="Fives"
             [value]="scoreService.score.fives" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputSixes" class="col-sm-5 control-label">Sixes:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputSixes" placeholder="Sixes"
             [value]="scoreService.score.sixes" (click)="setControlScore($event)">
    </div>
  </div>
</div>

<div class="form-horizontal col-md-6">
  <div class="form-group">
    <label for="inputThreeKind" class="col-sm-5 control-label">Three Of A Kind:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputThreeKind" placeholder="Three Of A Kind"
             [value]="scoreService.score.threeOfKind" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFourKind" class="col-sm-5 control-label">Four Of A Kind:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputFourKind" placeholder="Four Of A Kind"
             [value]="scoreService.score.fourOfKind" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFullHouse" class="col-sm-5 control-label">Full House:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputFullHouse" placeholder="Full House"
             [value]="scoreService.score.fullHouse" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputSmStraight" class="col-sm-5 control-label">Small Straight:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputSmStraight" placeholder="Sm Straight"
             [value]="scoreService.score.smallStraight" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputLgStraight" class="col-sm-5 control-label">Large Straight:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputLgStraight" placeholder="Lg Straight"
             [value]="scoreService.score.largeStraight" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputYahtzee" class="col-sm-5 control-label">Yahtzee:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputYahtzee" placeholder="Yahtzee"
             [value]="scoreService.score.yahtzee" (click)="setControlScore($event)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputChance" class="col-sm-5 control-label">Chance:</label>
    <div class="col-sm-7">
      <input type="number" readonly class="form-control" id="inputChance" placeholder="Chance"
             [value]="scoreService.score.chance" (click)="setControlScore($event)">
    </div>
  </div>

</div>
