<div class="container">
  <h1>
    Welcome to Yahtzee!!!
  </h1>

  <hr>

  <div class="row">
    <app-scorecard (scoreCardSet)="scoreCardSet($event)"></app-scorecard>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-1">
      <app-dice #dice1 (value)="diceService.setDiceValueOne($event)" [isRollable]="diceCanRoll"></app-dice>
    </div>
    <div class="col-sm-1">
      <app-dice #dice2 (value)="diceService.setDiceValueTwo($event)" [isRollable]="diceCanRoll"></app-dice>
    </div>
    <div class="col-sm-1">
      <app-dice #dice3 (value)="diceService.setDiceValueThree($event)" [isRollable]="diceCanRoll"></app-dice>
    </div>
    <div class="col-sm-1">
      <app-dice #dice4 (value)="diceService.setDiceValueFour($event)" [isRollable]="diceCanRoll"></app-dice>
    </div>
    <div class="col-sm-1">
      <app-dice #dice5 (value)="diceService.setDiceValueFive($event)" [isRollable]="diceCanRoll"></app-dice>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="rollAll()">Roll Dice</button>
    </div>
  </div>
</div>
